body{
    background-image: url('assets/background2.jpg');
    position: absolute;
    text-align: center;
    background-attachment: fixed;
}
h1{
    background-image: url('assets/Banner.gif');
    text-shadow: 1px 1px 1px maroon;
    color: bisque;
    transition-duration: .2s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1:hover{
    font-size: 250%;
}
h2{
    color: brown;
    font-family: fantasy;
    padding-bottom: 10%;
    text-shadow:
        0.07em 0 rgb(95, 21, 21),
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    
}
h4{
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 1px 1px rgb(154, 175, 197);
}
#search{
    background-color: rgb(36, 33, 33);
    text-shadow: 1px 1px 1px maroon;
    border-radius: 3%;
    color: bisque;
    padding-right: 15%;
    transition-duration: .5s;
}
#search:hover{
    background-color: dimgray;
    font-size: larger;
}
a{
    color: rgb(139, 76, 0);
    font-family: sans-serif;
    transition-duration: .1s;
    height: 88%;
}
a:hover, a:active{
    color: rgb(255, 145, 0);
    font-size: larger;
}
#home-page{
    background-color: rgb(126, 29, 29);
    border-radius: 10%;
    opacity: 88%;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: saddlebrown;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black,
        1px 1px 1px rgb(85, 99, 113)
}
#overall{
    font-weight: bolder;
}
#submit{
    background-color: rgb(128, 25, 25);
    color: bisque;
    border-radius: 15%;
    height: auto;
    border-left: 25px;
    transition: .7s;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}
#submit:hover{
    font-size: 150%;
    color: darksalmon;
    background-color: rgb(226, 29, 29);
}
#title{
    padding-bottom: 3%;
    font-weight: bolder;
    font-family: sans-serif;
    text-shadow: 1px 1px 3px rgb(45, 48, 52);
    font-size: 25px;
    
}
#status{
    color:coral
}
#image{
    text-align: center;
    
}
#summary{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: chocolate;
    overflow: auto;
    text-shadow: 1px 1px 1px slategrey, 1px 1px 1px black;
}
#recommend{
    font-size: 175%;
}
#anime-container{
    background-color: rgb(126, 29, 29);
    opacity: 88%;
    border-radius: 5%;
    display: block;
    text-align: center;
}
